.avatar-card {
  height: 120px;
  border: 1px solid black;
  border-radius: 10%;
  flex-basis: 18%;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-left: 130px;
  padding-right: 130px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header-container {
  display: flex;
  position: sticky;
  align-items: center;
  background: black;
  color: white;
}
.header-timer {
  flex-basis: 20%;
  text-align: center;
}

.header-title {
  flex-basis: 60%;
  text-align: center;
}

.header-restart-btn {
  flex-basis: 20%;
  text-align: center;
}
